interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      correlation-id:
      - workflow-create-0819-110832
      data-partition-id:
      - opendes
    method: GET
    uri: https://dev-api-osdu-equinor.westeurope.cloudapp.azure.com/api/unit/v3/unit?limit=10000
  response:
    body:
      string: '{"totalCount":3695,"offset":0,"units":[{"essence":{"abcd":null,"scaleOffset":{"scale":1.0,"offset":0.0},"symbol":"
        ","baseMeasurement":{"ancestry":"Dimensionless","type":"UM"},"type":"USO"},"deprecationInfo":null,"displaySymbol":"
        ","name":"dimensionless","description":null,"lastModified":"19920228","source":"APIRP661","namespace":"RP66","persistableReference":"{\"scaleOffset\":{\"scale\":1.0,\"offset\":0.0},\"symbol\":\"
        \",\"baseMeasurement\":{\"ancestry\":\"Dimensionless\",\"type\":\"UM\"},\"type\":\"USO\"}"},{"essence":{"abcd":null,"scaleOffset":{"scale":0.0254,"offset":0.0},"symbol":"\"","baseMeasurement":{"ancestry":"Length","type":"UM"},"type":"USO"},"deprecationInfo":{"state":"identical","remarks":"inch","supersededByUnit":"{\"scaleOffset\":{\"scale\":0.0254,\"offset\":0.0},\"symbol\":\"in\",\"baseMeasurement\":{\"ancestry\":\"Length\",\"type\":\"UM\"},\"type\":\"USO\"}"},"displaySymbol":"\"","name":"inch","description":null,"lastModified":"19920228","source":"","namespace":"LIS","persistableReference":"{\"scaleOffset\":{\"scale\":0.0254,\"offset\":0.0},\"symbol\":\"\\\"\",\"baseMeasurement\":{\"ancestry\":\"Length\",\"type\":\"UM\"},\"type\":\"USO\"}"},{"essence":{"abcd":null,"scaleOffset":{"scale":1.488163943569554,"offset":0.0},"symbol":"#/FT","baseMeasurement":{"ancestry":"Mass_Per_Length","type":"UM"},"type":"USO"},"deprecationInfo":{"state":"identical","remarks":"pound
        mass per foot","supersededByUnit":"{\"scaleOffset\":{\"scale\":1.488163943569554,\"offset\":0.0},\"symbol\":\"lbm/ft\",\"baseMeasurement\":{\"ancestry\":\"Mass_Per_Length\",\"type\":\"UM\"},\"type\":\"USO\"}"},"displaySymbol":"#/FT","name":"pound
        mass per foot","description":null,"lastModified":"19941008","source":"LOGDB","namespace":"LIS","persistableReference":"{\"scaleOffset\":{\"scale\":1.488163943569554,\"offset\":0.0},\"symbol\":\"#/FT\",\"baseMeasurement\":{\"ancestry\":\"Mass_Per_Length\",\"type\":\"UM\"},\"type\":\"USO\"}"}],"measurements":[],"unitMapItems":[],"measurementMapItems":[],"mapStates":[],"count":3}'
    headers:
      content-type:
      - application/json
      correlation-id:
      - workflow-create-0819-110832
    status:
      code: 200
      message: OK
version: 1
